/target

# any local files that are marked as ignore
*.old

/profiles

# stupid vscode config files
.vscode/

# stupid JetBrains config files
.idea/

# Example files that shouldn't be kept in sources
examples/ignored/
